
<!-- Directiva de ngFor--->

<h2> {{titulo2}} </h2>
<ul>
		
		<li *ngFor="let marcas of marcasTipo; let indice = index"> {{indice + ' ' + marcas}} 

			<button (click)="borrarMarcas(indice)">Borrar</button>
		</li>
		<p>
			
			<button (click)="borrarMarca()">Borrar marca</button>

		</p>
		

</ul>


<h2> {{titulo}} </h2>
<ul>
	
	<!--- Directiva ngStyle con ngFor y ngClass-->
		<li *ngFor="let deportiva of zapatillas">
			<span  [ngStyle] = " { 'text-decoration' : !deportiva.stock ? 'line-through' : 'none' }  ">
			{{deportiva.nombre}}  - <strong [ngClass]=" { 'fondoRojo': deportiva.precio >= 80

			, 'subrayado': deportiva.marca == 'nike'  

			 } "> {{deportiva.precio}} $ 


			</strong>
			
			</span>
		<span *ngIf="deportiva.precio <= 80"

		[style.background]="deportiva.precio <= 80 ?'green' : 'transparent'" 
		[style.color]="deportiva.precio <= 80 ?'white' : 'black'" >¡En oferta</span>
		
	</li>

</ul>


<p>El color de la mayoria de nuestras zapatillas es: </p>
<!--
Directiva de ngSwitch y de ngModel que es el two data binding

--->

<input type="text" name="" [(ngModel)]="color" (keyup.enter)="mostrarPalabra()"> <!--Aca tambien utlizamos la directiva keyup con metodo enter -->
<ul [ngSwitch]= "color">
	<li *ngSwitchCase="'gray'">El color predominante es el <span [ngStyle]=" {'background': color} "> gris</span></li>
	<li *ngSwitchCase="'white'">El color predominante es el <span [ngStyle]=" {'background': color} "> blanco</span></li>
	<li *ngSwitchCase="'black'">El color predominante es el <span [ngStyle]=" {'background': color} "> negro</span></li>
	<li *ngSwitchCase="'black'">El color predominante es el <span [ngStyle]=" {'background': color} "> negro</span></li>

</ul>

<h3></h3>
<!--Directiva ngModel la cual es bidireccional -->
<p>Añadir marca</p>
<p>
	<input type="text" name="" [(ngModel)]="mi_marca" (blur)="onBlur()"> <!-- aqui tambien utilizamos el evento blur-->
	<button (click)=getMarca()>Mostrar marcas</button>
	<button (click)=addMarca()>Agregar marcas</button>
</p>

<strong> {{mi_marca}}  </strong>